body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
