.chatsTable {
  border: 1px solid #ccc;
  border-radius: 10px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
    transition: 0.3s all linear;
  }
  tr:hover {
    background-color: #c7c7c7;
  }

  td,
  th {
    padding: 0.625em;
    text-align: center;
  }

  td:first-child,
  th:first-child {
    width: 35px;
  }

  td:last-child,
  th:last-child {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }

  th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.checkbox {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  padding: 10px;
}

@media screen and (max-width: 850px) {
  .chatsTable {
    border: 0;
    caption {
      font-size: 1.3em;
    }
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
      background-color: white;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
    td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    td:last-child {
      border-bottom: 0;
    }
  }
}
